<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bad Thrifts</title>
    <link rel="stylesheet" href="/css/style_main.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <%- include('../partials/header') %>
    <section class="preview" id="preview">
        <div class="fade-slider">
        <img src="/img/2.png" class="fade-image active" />
        <img src="/img/3.png" class="fade-image active" />
        <img src="/img/1.png" class="fade-image active" />
        <div class="slide-text">
            <h1>THRIFTERS</h1>
            <p>Look BAD. In a COOL way.</p>
            <button>SHOP NOW →</button>
        </div>
        </div>
    </section>

    <div class="login-modal" id="loginModal">
        <div class="login-content">
            <span class="close-btn" id="closeLogin">&times;</span>
            <h3>bad thrifts.</h3>
            <h2>Welcome back Thrifter!</h2>
            <p>We miss you, login now to use your free shipping, vouchers and members-only products!</p>
            <p class="sign-inP">Sign in</p>
            <input type="email" id="email-login" placeholder="Email address*" required>
            <input type="password" id="password-login" placeholder="Password*" required>
            <button class="login-btn" id="loginBtn">Login →</button>
        </div>
    </div>
    <section class="preview-products" id="previewProducts">
        <nav class="product-cats">
        <a href="#" class="cat active">T-shirts</a>
        <a href="#" class="cat">Pants</a>
        <a href="#" class="cat">Shoes</a>
        </nav>

        <div class="products-grid">
            <% products.forEach(product => { %>
                <div class="product-card <%= product.stock === 'low' ? 'low-stock' : 'sold-out' %>">
                <img src="/img/<%= product.image %>" />
                <div class="product-info">
                    <span class="price">₱<%= product.price %></span>
                    <h3><%= product.title %></h3>
                    <p><%= product.description %></p>
                    <span class="stock-label"><%= product.stock === 'low' ? 'Low in stock!' : 'Sold Out!' %></span>
                </div>
                </div>
            <% }) %>
        </div>
    </section>
    <%- include('partials/modals') %>
    <%- include('../partials/footer') %>
    <script src="/js/main_js.js" defer></script>
</body>
</html>
